.banner-card {
  border: 1px solid #cbced2;
  border-radius: 8px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 32px;
  max-width: 1140px;
  list-style-type: none;
}

.card-1 {
  display: flex;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

.heading {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: bold;
  color: #326a9d;
}

.description {
  font-family: 'Roboto';
  font-size: 15px;
  color: #64748b;
  margin-top: 20px;
  margin-bottom: 25px;
}

.button {
  color: #326a9d;
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #326a9d;
  border-radius: 5px;
  padding: 8px;
}
